/* Vår CSS kod
*/

html, body {
    font-family: 'Nunito', sans-serif;
    background: rgb(218, 218, 218);
}

.content {
    grid-area: content;
    background: rgb(218, 218, 218);
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right, 
    rgba(189, 83,255, 1),
    rgba(167, 151, 255, 1)
    rgba(141, 229, 255, 1),
    );

    justify-content: center;
}